{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="d-inline-block contentsu navOffset d-inline-block px-1 border-left border-right border-tweeter"
             style="min-height: 100vh">
            {#        <h3>{{ user.username }},Welcome to our homepage!</h3>#}
            {% include 'tweets/post.html' with brand_name='Tweeter' %}


            <!-- Button trigger modal -->
            {#        <button type="button" class="btn btn-primary" id="exampleTrigger" data-toggle="modal"#}
            {#                data-target="#exampleModal">#}
            {#            Launch example modal#}
            {#        </button>#}

            <div class="partBread lineBreak border-top border-bottom border-tweeter"></div>

            {% for r,l, t in zipped %}
                {% include 'tweets/tweet_template.html' with retweeted=r liked=l tweet=t show_like=show_like %}
                <hr class="my-2 lineBreak" style="width: 100%; background-color: white; margin:-1px 0;">
            {% endfor %}
            {% else %}
            <div class="d-inline-block contentsu navOffset d-inline-block px-1 border-left border-right border-tweeter"
                 style="min-height: 100vh">
                <div class="col">
                    <h3>You should first log in to see the content.</h3>
                    <a href="{% url 'tweets:login' %}">Log in now</a>
                </div>
            </div>
        </div>
    {% endif %}
    </div>

    <div class="thirdColumn text-sm-center text-lg-left d-inline-block px-1 border mt-3">

        <div class="container text-center align-items-center px-0 pt-2">
            <h class="text">RECENT USERS</h>
        </div>

        <hr class="my-2 lineBreak" style="width: 100%; background-color: white; margin:-1px 0;">

        <div class="text-center pfpSmolContainer d-inline-block px-0 mt-3 mx-2"
             style="min-height: 100%; vertical-align:top">
            <a href="{% url 'tweets:profile' user.username %}">
                <img class="rounded pfpSmol"
                     src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                     style="border: 2px solid #51D2B7;"/>

            </a>
        </div>
        <div class="pfpSmolOffset d-md-block d-lg-inline-block px-0 mr-0 mb-2">
            <div class="align-items-center pt-3">
                <b class="text thirdColumnTxt text-center">USERNAME </b>
                <div class="justify-self-end ml-auto">
                    <button class="btn btn-info">
                        Follow
                    </button>
                </div>
            </div>
        </div>

        <hr class="my-2 lineBreak" style="width: 100%; background-color: white; margin:-1px 0;">

        <div class="text-center pfpSmolContainer d-inline-block px-0 mt-3 mx-2"
             style="min-height: 100%; vertical-align:top">
            <a href="{% url 'tweets:profile' user.username %}">
                <img class="rounded pfpSmol"
                     src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                     style="border: 2px solid #51D2B7;"/>

            </a>
        </div>
        <div class="pfpSmolOffset d-md-block d-lg-inline-block px-0 mr-0 mb-2">
            <div class="align-items-center pt-3">
                <b class="text thirdColumnTxt text-center">delete this!</b>
                <div class="justify-self-end ml-auto">
                    <button class="btn btn-info">
                        Follow
                    </button>
                </div>
            </div>
        </div>

        <hr class="my-2 lineBreak" style="width: 100%; background-color: white; margin:-1px 0;">

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">TWEET</h5>
                    <button type="button" id="closeBTN" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                        quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                        ullam unde.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                        quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                        ullam unde.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                        quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                        ullam unde.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                        quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                        ullam unde.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                        quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                        ullam unde.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'tweets/index.js' %}"></script>
{% endblock %}
