{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tweets/index.css' %}">
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="container col-7 col-sm-8 col-md-9 col-lg-10 offset-4 offset-sm-4 offset-md-3 offset-lg-2 d-inline-block">
        <h3>{{ user.username }},Welcome to our homepage!</h3>
        {% include 'tweets/post.html' with brand_name='Tweeter' %}


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id="exampleTrigger" data-toggle="modal"
                data-target="#exampleModal">
            Launch example modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">TWEET</h5>
                        <button type="button" id="closeBTN" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                            quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                            ullam unde.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                            quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                            ullam unde.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                            quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                            ullam unde.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                            quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                            ullam unde.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cum cumque dolor modi nulla
                            quam, quis quod reiciendis sint veniam. A corporis facere ipsam libero neque rerum sit,
                            ullam unde.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        {% for l, t in zipped %}
            {% include 'tweets/tweet_template.html' with liked=l tweet=t show_like=show_like %}
            <hr class="my-2">
        {% endfor %}
    {% else %}
        <div class="container   col-7 col-sm-8 col-md-9 col-lg-10 offset-4 offset-sm-4 offset-md-3 offset-lg-2 d-inline-block">
            <div class="row">
                <div class="col">
                    <h3>You should first log in to see the content.</h3>
                    <a href="{% url 'tweets:login' %}">Log in now</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'tweets/index.js' %}"></script>
{% endblock %}
