{% extends 'base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="container">
    <h3>{{user.username}},Welcome to our homepage!</h3>
    {% for tweet in recent_tweets %}
    <div class="jumbotron">
        <b>{{tweet.user.username}}</b>:
        <p>{{tweet.content}}</p>
        <hr class="my-4">
        {% if tweet.comment_set %}
        {% for c in tweet.comment_set.all %}
        <p><b>{{c}}</b> says: {{c.content}}</p>
        {% endfor %}
        {% endif %}
        <a class="btn btn-primary " href="{% url 'tweets:comment' tweet.id %}" role="button">Comment</a>
        <form action="{% url 'tweets:index' %}" method="post">
            {% csrf_token %}
            {% if tweet.is_liked %}
            <button class="btn btn-danger" name="post_id" value="{{tweet.id}}">Dislike</button>
            {% else %}
            <button class="btn btn-danger" name="post_id" value="{{tweet.id}}">Like</button>
            {% endif %}
        </form>
        <p>{{tweet.likes_set.count}} Like{{tweet.likes_set.count|pluralize}}</p>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>You should first log in to see the content.</h3>
                <a href="{% url 'tweets:login' %}">Log in now</a>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}





