{% extends 'base.html' %}

{% block content %}

{#    IDK HOW TO DO IT BUT AFTER LOGGING IN WE NEED TO FORWARD TO HOME PAGE NOT POST PAGE#}
    <div class="container col-7 col-sm-8 col-md-9 col-lg-10 offset-4 offset-sm-4 offset-md-3 offset-lg-2 d-inline-block" style="display: inline-block;">
        <form action="{% url 'tweets:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Name" class="form-control">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <div class="container col-7 col-sm-8 col-md-9 col-lg-10 offset-4 offset-sm-4 offset-md-3 offset-lg-2 d-inline-block">
        {% if error_message %}
            <h4>{{ error_message }}</h4>
        {% elif wrong_pass %}
            <h4>{{ wrong_pass }}</h4>
        {% endif %}
    </div>

{% endblock %}
