{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <form action="{% url 'tweets:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Name" class="form-control">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <div class="container">
        {% if error_message %}
        <h4>{{error_message}}</h4>
        {% elif wrong_pass %}
        <h4>{{wrong_pass}}</h4>
        {% endif %}
    </div>

{% endblock %}
