{% extends 'base.html' %}

{% block content %}
<div class="col-6 w-50 flex-row" style="display: inline-block">
    <div class="row">
        <div class="col">
            <form action="{% url 'tweets:post' %}" method="post">
                {% csrf_token %}

                <input type="text" class="form-control" name="content" placeholder="Write something here..">
                <button class="btn btn-primary">Send</button>
            </form>


            <a href="{% url 'tweets:index' %}">See homepage..</a>
        </div>
    </div>
</div>
{% endblock %}