
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tweets/index.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <form action="{% url 'tweets:post' %}" method="post">
                {% csrf_token %}

                <input type="text" class="form-control" name="content" placeholder="Write something here..">
                <button class="btn btn-primary">Send</button>
            </form>


{#            <a href="{% url 'tweets:index' %}">See homepage..</a>#}
            <hr class="my-3">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'tweets/index.js' %}"></script>
{% endblock %}