{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'tweets/profile.css' %}">
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class="d-inline-block contentsu navOffset d-inline-block px-1 border-left border-right border-tweeter"
             style="min-height: 100vh">

            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content pfChangeModalContent">
                        <div class="modal-header">
                            <h5 class="modal-title text" id="editModal">Change Profile</h5>
                            <button type="button" id="editCloseBTN" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="edit_form"
                                  action="{% url 'tweets:profile' user_profile.user.username %}"
                                  change-profile-url="{% url 'tweets:edit_profile' user_profile.user.username %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="container mb-3">
                                    <div class="row text-center">
                                        <div class="col">
                                            {% if user_profile.profile_img %}
                                                <img src="{{ user_profile.profile_img.url }}"
                                                     class="rounded-circle" style="width: 120px"
                                                     alt="example placeholder avatar">

                                            {% else %}
                                                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                                     class="rounded-circle" style="width: 120px"
                                                     alt="example placeholder avatar">
                                            {% endif %}

                                        </div>
                                    </div>
                                    <div class="custom-file text-center">
                                        {{ form.profile_img|attr:"id:pfpFile"|attr:"class:custom-file-input" }}
                                        <label class="btn btn-info" for="pfpFile">Choose Image...</label>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="text-center">

                                        <div class="input-group mb-3" id="edit-username">
                                            <span class="input-group-text" id="basic-addon1">@</span>
                                            {#                                            <input type="text" class="form-control" placeholder="Username"#}
                                            {#                                                   aria-label="Username" aria-describedby="basic-addon1">#}
                                            {{ form.username|attr:"id:usernameChange"|attr:"class:form-control"|attr:"placeholder:New Username" }}
                                        </div>


                                        {#                                        <label for="usernameChange">Username</label>#}
                                        {#                                        <input type="text" class="form-control" id="usernameChange"#}
                                        {#                                               placeholder="Required name">#}
                                    </div>
                                </div>

                                <div class="modal-footer">

                                    <button type="submit" id="submit-modal"
                                            change-profile-url="{% url 'tweets:edit_profile' user_profile.user.username %}"
                                            class="btn btn-primary">Save changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jumbotron profile_top-bg px-0 mb-1" style="background: none">
                <div class="profile_top d-md-flex d-sm-inline justify-content-between">
                    <div class="d-flex  ml-md-4 ml-sm-0 mb-2 justify-content-center">

                        {% if user_profile.profile_img %}
                            <img class="float-left pfpBeeg"
                                 src="{{ user_profile.profile_img.url }}"/>
                        {% else %}
                            <img class="float-left pfpBeeg"
                                 src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"/>
                        {% endif %}

                    </div>
                    {#                    IMPORTANT: bottom div was made for 2 buttons!!#}
                    <div class="align-self-center bt-5">
                        {% if request.user.username == user_profile.user.username %}
                            <div class="d-flex align-self-end justify-content-center ml-md-1 mr-2 mb-3 ml-sm-3">
                                <button class="btn btn-info d-inline" id="editTrigger" data-toggle="modal"
                                        data-target="#editModal">
                                    Edit Profile
                                </button>
                            </div>
                        {% else %}
                            {#                    IF ON ANOTHER USER PROFILE ^THIS HAS TO BE "FOLLOW/UNFOLLOW" BUTTON#}
                            <div class="d-flex align-self-end justify-content-center ml-md-1 mr-2 mb-3 ml-sm-3">

                                {% if is_followed %}
                                    <button class="btn btn-info d-inline" id="follow"
                                            change-data-url="{% url 'tweets:follow' user_profile.user.username %}">
                                        Unfollow
                                    </button>
                                {% else %}
                                    <button class="btn btn-info d-inline" id="follow"
                                            change-data-url="{% url 'tweets:follow' user_profile.user.username %}">
                                        Follow
                                    </button>
                                {% endif %}

                            </div>
                        {% endif %}
                        {#                    ^THIS IS JUST FOR FUNCTIONALITY TEST OF FOLLOW FOR NOW#}
                    </div>
                </div>
                <div class="container pt-2">
                    {#                    <b>{{profile_name}}</b>#}
                    {#                    <p>{{profile_joined_date}}</p>#}
                    <div class="container row">
                        <div class="col">
                            <b class="text">{{ user_profile }}</b>
                        </div>
                    </div>

                    <div class="container row">
                        <div class="col">
                            <p class="text">Joined <span
                                    id="account-date"> {{ user_profile.user.date_joined|date:"F Y" }}</span></p>
                        </div>
                    </div>
                    <div class="container row">
                        <a href="#" class="col col-2 col-sm-6 col-md-4 col-lg-2">
                            <span>{{ followers|length }} Follower{{ followers|length|pluralize }}</span>

                        </a>
                        <a href="#" class="col col-2 col-sm-6 col-md-4 col-lg-2">
                            <span>{{ followings.count }} Following{{ followings.count|pluralize }}</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="partBread lineBreak border-top border-bottom border-tweeter"></div>

            {% for l, t in zipped %}
                {% include 'tweets/tweet_template.html' with tweet=t liked=l show_like=show_like show_comment=show_comment %}
                <hr class="my-2 lineBreak" style="width: 100%; background-color: white; margin:-1px 0;">
            {% endfor %}
            {% else %}
            <div class="d-inline-block contentsu navOffset d-inline-block px-1 border-left border-right border-tweeter"
                 style="min-height: 100vh">
                <div class="row">
                    <div class="col">
                        <h3>You should first log in to see the content.</h3>
                        <a href="{% url 'tweets:login' %}">Log in now</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block script %}
    <script src="{% static 'tweets/index.js' %}"></script>
    <script src="{% static 'tweets/profile.js' %}"></script>
{% endblock %}