<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>Base Template Page</title>
    {% include 'base/css.html' %}
    {% block styles %}{% endblock %}
</head>
<body class="bg-secondary">

    <div class="container" style="height: 100%;">
        {% include 'base/navbar.html' with brand_name='Tweeter' %}


    {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    {% block script %}{% endblock %}
</body>
</html>