html {
    overflow-y: scroll;
}

.pfpSmol {
    width: 60px;
    height: 60px;
    border: 2px solid #51D2B7;
    border-radius: 50% !important;
    border: transparent !important;
}

.pfpBeeg {
    width: 100px;
    height: 100px;
    border: 4px solid #51D2B7;
    border-radius: 50% !important;
    border: transparent !important;
}

.inlineBlock {
    display: inline-block !important;
}

.fullHeightPFP {
    min-height: 100%;
    vertical-align: top;
}

.tweet {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10%;
    padding-bottom: 3%;
}

.profile_top {
    min-width: 100%;
    min-height: 100%;
    /*justify-content: space-between;*/
}

.profile_top-bg {
    background-color: rgba(0, 99, 128, 0.3) !important;
}

.sideNav {
    align-content: start;
    vertical-align: top;
    position: fixed;
    background-color: rgba(25, 39, 52, 0.5) !important;
}

@media (max-width: 1200px) {

    .pfpThirdBoxOffset {
        width: 100% !important;
    }
}


@media (max-width: 576px) {

    .pfpThirdBoxOffset {
        width: 100% !important;
    }

    .sideNav {
        min-width: 80px;
        max-width: 80px;
        min-height: 100vh;
        max-height: 100vh;
        /*vertical-align:top;*/
        /*position: fixed;*/
    }

    .navOffset {
        margin-left: 83px;
    }

    .thirdColumn {
        min-width: calc(40% - 90px);
        max-width: calc(40% - 90px);
        /*margin-left: calc(60% + 85px);*/
    }
}

@media (min-width: 576px) {

    .sideNav {
        min-width: 80px;
        max-width: 80px;
        min-height: 100vh;
        max-height: 100vh;
        /*vertical-align:top;*/
        /*position: fixed;*/
    }

    .navOffset {
        margin-left: 83px;
    }

    .thirdColumn {
        min-width: calc(40% - 90px);
        max-width: calc(40% - 90px);
        /*margin-left: calc(60% + 85px);*/
    }
}

@media (min-width: 768px) {

    .sideNav {
        min-width: 120px;
        max-width: 120px;
        min-height: 100vh;
        /*vertical-align:top;*/
        /*position: fixed;*/
    }

    .navOffset {
        margin-left: 125px;
    }

    .thirdColumn {
        min-width: calc(40% - 130px);
        max-width: calc(40% - 130px);
        /*margin-left: 125px;*/
    }
}

@media (min-width: 992px) {

    .sideNav {
        min-width: 180px;
        max-width: 180px;
        min-height: 100vh;
        /*vertical-align:top;*/
        /*position: fixed;*/
    }

    .navOffset {
        margin-left: 190px;
    }

    .thirdColumn {
        min-width: calc(40% - 195px);
        max-width: calc(40% - 195px);
        /*margin-left: 190px;*/
    }
}


@media (min-width: 1200px) {

    .sideNav {
        min-width: 210px;
        max-width: 210px;
        min-height: 100vh;
        /*vertical-align:top;*/
        /*position: fixed;*/
    }

    .navOffset {
        margin-left: 220px;
    }

    .thirdColumn {
        min-width: calc(40% - 225px);
        max-width: calc(40% - 225px);
        /*margin-left: 190px;*/
    }
}

.text {
    color: azure;
}

.bg {
    color: rgb(21, 32, 43);
}

.border-left.border-tweeter, .border-top.border-tweeter {
    border-color: rgb(56, 68, 77) !important;
}

.lineBreak {
    width: 100%;
    background-color: rgb(25, 39, 52);
    border-color: rgb(56, 68, 77);
}

.partBread {
    height: 15px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    box-sizing: border-box;
}

.tweet-box:hover {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.contentsu {
    min-width: 55%;
    max-width: 55%;
}

.pfpSmolContainer {
    width: 70px;
    margin-right: 10px;
    flex-basis: 53px;
}

.pfpSmolOffset {
    width: calc(100% - 100px);
    overflow-wrap: break-word;
    word-wrap: break-word;
    /*white-space: initial;*/
}

.pfpThirdBoxOffset {
    width: calc(100% - 100px);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.pfpPopupOffset {
    width: calc(100% - 100px);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.thirdColumn {
    vertical-align: top;
}

.recommendationBox {
    border-radius: .5rem;
    border-color: rgb(56, 68, 77) !important;
    margin-left: auto;
    align-content: start;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}

.text.recommendationBox {
    /*width: 100px !important;*/
    overflow-wrap: normal !important;
    word-wrap: normal !important;
    text-overflow: ellipsis;
}

.tweetTextArea, .tweetTextArea:focus {
    border: none;
    background: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: azure;
    overflow: hidden;
}

/*.tweetTextArea:focus {*/
/*    border: none;*/
/*    background: none;*/
/*    white-space: pre-wrap;*/
/*    overflow-wrap: break-word;*/
/*    color: azure;*/
/*}*/

.tweetSubmitBtn {
    background-color: rgb(29, 161, 242);
    color: white;
}

.custom-file-img {
    width: 60px !important;
}

.replyView > tweet-box:hover {
    background-color: rgba(255, 255, 255, 1) !important;
}

.modal-content {
    background-color: rgba(25, 39, 52, 0.9) !important;
}

.popoverBtn {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50% !important;
    /*border: rgb(56, 68, 77) !important;*/
}

.popoverBtn:hover {
    color: rgb(29, 161, 242);
    background-color: rgba(29, 161, 242, 0.1) !important;
}

.retweetTxt {
    height: 20px;
    font-size: 13px;
    overflow-wrap: normal !important;
    word-wrap: normal !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.retweetTxtBox {
    height: 15px;
}

.retweet {
    color: gray;
}

.retweeted {
    color: white;
    background-color: darkblue;
}

.searchContainer {
    background-color: rgba(56, 68, 77, 0.5);
    border-radius: 2rem;
}

.searchContainer:focus-within {
    background-color: rgb(25, 39, 52);
}

.searchTxt {
    background: none;
    border: none;
    border-radius: 2rem;
    color: azure;
}

.searchTxt:focus {
    background: none;
    border: none;
    color: azure;
}